<% if(success && success.length) {%>
    <% // success is an array so we need to check if it exists and is also not empty before decidnig to display the success %>
<div class="alert alert-success alert-dismissibe fade show" role="alert">
<%= success %>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% }%>

<% if(error && error.length) {%>
    <% // error is an array so we need to check if it exists and is also not empty before decidnig to display the error %>
<div class="alert alert-danger alert-dismissibe fade show" role="alert">
<%= error %>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% }%>