<% layout('../layouts/boilerplate') %>


<div class="container justify-content-center align-items-center ">
    <div class="row flex-fill">
        <div class="col-md-6 d-flex offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1682686580224-cd46ea1a6950?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Register</h5> 
                  <form action="/register" method="post"class="validated-form" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username" autofocus>Username:</label>
                        <input class="form-control" type="text" id="username" name="username" required>
                        <div class="valid-feedback">
                            Looks Good!
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email:</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks Good!
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password:</label>
                                <input class="form-control mb-3" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                                <div class="gap-2 d-grid">
                                <button class="btn btn-success">Register</button>
                                </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</div>






